<%= form_for @wiki do |f| %>
  <p>Note that you probably don't want the name to include the word "wiki",
    unless you want the default title page to be "Whatever Wiki Wiki."</p>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
